@{
    ViewBag.Title = "Home Page";
}

<section class="header-site"></section>

<section class="content-site">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <figure class="img-fluid">
                    <img src="~/Content/Imagens/avaliacao.png">
                    <figcaption class="text-center legendas">
                        Os melhores motoristas
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="img-fluid">
                    <img src="~/Content/Imagens/place.png">
                    <figcaption class="text-center legendas">
                        Encontre motoristas próximos de você
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="img-fluid">
                    <img src="~/Content/Imagens/clock.png">
                    <figcaption class="text-center legendas">
                        Mais agilidade na sua busca
                    </figcaption>
                </figure>
            </div>
        </div>
        <br/><br/>
        <hr/>
        <br /><br/>
        <p class="texto-descricao">
            A Xogum Fretes é uma plaforma que torna possível encontrar os melhores motoristas de fretes de forma rápida e fácil.<br />
            Através da sua localização, encontramos os melhores motoristas disponíveis mais próximos de você!
            <br /><br/>
            <figure>
                <img src="~/Content/Imagens/img-programa.png" />
                <figcaption>Imagem da Plataforma</figcaption>
            </figure>
        </p>
    </div>
</section>

<section class="img-site">
    <div class="container">
        <div class="row text-center">
             <div class="col-xs-12">
                <p class="lead text-center texto-descricao">Conheça um pouco mais da nossa plataforma e cadastre-se</p>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dCZkGdhd66Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br/><br/>
            <button class="btn-lg btn-primary">Cadastre-se</button>
        </div>
    </div>
</section>